

/* Interface */
img.image1, img.image2, img.image3 {
	width: 100%;
	height: auto;
}
/* Interface */


/* Article Sample */
#menu-sandwich h1 {
	display: inline;
}
#menu-sandwich:hover {
	cursor: pointer;
}

.cover-details {
	background-color: rgba(0,0,0,0.2);
	padding: 10px;
}

#left-panel {
	display: none;
	width: 220px;
	padding: 20px;
	background-color: #333;
	color: #fff;
	box-shadow: inset 0 0 5px 5px #222;
	border-radius: 0;
}
#left-panel h3 {
	color: white;
}
.first-story-title * {
	color: white !important;
}
.f-title a {
	font-style: normal;
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
}
.f-title .prev h2 {
	width: auto;
}
.f-title .next h2 {
	width: auto;
	float: right;
}

.first-story-body {
	background-color: transparent;
	/* background img will be changed dynamically */
	background-size: cover;
	width: 100%;
	height: 100%;
}
.first-story-body > .row {
	padding-top: 50px;
	height: 100%;
}
.first-story-body > .row > .col-md-6:nth-of-type(1) {
	background: transparent;
	overflow-y: hidden;
}
.first-story-body > .row > .col-md-6:nth-of-type(2) {
	height: 100%;
	overflow-y: scroll;
}

div.modal {
	font-family: 'Open Sans', sans-serif;
}
div.modal .summary-text {
	font-size: xx-small;
}
#ex1Slider, #slider {
	width: 95%;
}
#percent-reading-time {
	width: 100%;
	text-align: center;
}

header.main-title {
	z-index: 1000;
}
/* /Article sample */



/* For screens at least 768px wide (large screens/desltops) */
@media screen and (min-width: 768px){

}

/* For screens at most 767px wide (small screens/phones) */
@media screen and (max-width: 767px){

}



